.product-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    column-gap: 16px;
    row-gap: 2rem;
    margin-top: 25px;
    margin-bottom: 50px;
}
.product-container .card{
    width: fit-content;
    border: 2px solid rgba(95, 189, 252, 0.302);
    transition: 0.3s;
}

.product-container .card:hover{
    border: 2px solid var(--blue);
    scale: 1.01;
    
}

.product-container .card .card-info{
    width: 200px;
    padding: 1rem 0.4rem;
}

.product-container .card .card-info .subtitle{
    font-size: 0.8rem;
    margin-top: 0.7rem;
    margin-bottom: 1.1rem;
}

.product-container .card .card-info .more{
    display: flex;
    justify-content: space-between;
}
