header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 25px;
    
    /* background-color: var(--bgHeader); */
}

header nav{
    display: flex;
    justify-content: space-between;
    gap: 70px;
    align-items: center;
    font-size: large;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

a{
    text-decoration: none;
    color: #fff;
}

header .logo{
    color: #0f0;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}