.chat-container{
    height: 315px;
    background-color: lightgrey;
    position: fixed;
    box-shadow: 0px 0px 15px 0px black;
}


.chat-container .header{
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0px 14px;
    background-color: #3278FF;
    color: #fff;
    font-size: 1.5rem;
}


.chat-container .header .logo{
    height: 40px;
    width: 40px;
    box-shadow: 0px 0px 10px 0px black;
    border-radius: 50%;
}

.chat-container .header img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.chat-container .header .title{
    padding-left: 10px;
}

.chat-container .chat-body{
    height: 200px;
    display: flex;
}

.chat-container footer{
    height: 60px;
    display: flex;
    align-items: center;
    border-top: 1px solid blue;
}

.chat-container footer .input{
    flex: 5;
    
}

.chat-container footer #txtinput{
    line-height: 30px;
    padding: 8px 10px;
    border: none;
    border-radius: 15px;
    outline: none;
    caret-color: black;
    font-size: 1rem;
    width: 100%;
}

.chat-container footer .send{
    flex: 1;
    height: 35px;
    width: 35px;
    cursor: pointer;
    padding-left: 5px;
}

.chat-container footer .send img{
    height: 100%;
    width: 100%;
}
