.profile-container{
    border-right: 2px var(--border-split) solid;
    flex-grow: 0.2;
}

.profile-container .img-container{
    position: relative;
}

.profile-container .img-container .img1{
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
}

.profile-container .img-container span{
    position: absolute;
    bottom: 0;
    background: #2afa6a;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: 2px solid #fff;
    color: black;
    margin-left: 4.2rem;
}

.profile-container h2{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 5px;
}
