

footer ul{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

footer .info-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
    font-weight: normal;
}

footer .copyright{
    margin-top: 15px;
}